<div class="container">

</div>
<div class="border border-danger">
  <h2 class="my-4 text-center text-dark"><strong><%= @list.name %></strong></h2>
</div>

<!-- Bookmarks Section -->
<h3 class="m-4 text-dark"><strong> Bookmarks</strong> </h3>
<% if @list.bookmarks.any? %>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-lg-8 mb-4">
        <div class="card shadow-sm">
          <div class="row g-0">
            <!-- Poster Section -->
            <% if bookmark.movie.poster_url.present? %>
              <div class="col-md-4">
                <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "img-fluid w-100 rounded-start align-self-center mr-3" %>
              </div>
            <% end %>

            <!-- Details Section -->
            <div class="col-md-8">
              <div class="card-body">
                <div class="min-div d-flex justify-content-between">

                  <h5 class="card-title p-2 text-dark font-weight-bold"><strong> <%= bookmark.movie.title %></strong></h5>
                   <%= link_to "X",
                            list_bookmark_path(@list, bookmark),
                            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                            class: "btn btn-danger btn-sm mt-2" %>
                </div>
                <p class="card-text text-dark"><strong>Overview:</strong> <%= bookmark.movie.overview %></p>
                <p class="card-text text-dark"><strong>Rating:</strong> <%= bookmark.movie.rating %></p>
                <p class="card-text text-dark"><strong>Comment:</strong> <%= bookmark.movie.title %></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">No bookmarks yet.</p>
<% end %>

<%= render "components/form", list: @list, bookmark: @bookmark %>


<!-- Success/Error Messages -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>
